<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Pneumonia</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> What is Pneumonia? </h2>
    <p> Pneumonia is an inflammation in the airspaces of the lungs due to fluids or bacteria. It is one of the top 10 causes of death in the United States.</p>
    <p> In Chest X-Rays (CXRs), pneumonia can be seen as an opacity, since the fluids/bacteria prevents the X-Ray light from passing through.
    However, analyzing large volumes of CXRs is time-consuming for medical professionals, and may lead to some inaccuracies. </p>
    <p> Because of this, the Radiology Society of North America (RSNA) hosted a competition to find machine learning methods in order to detect pneumonia. </p>
    {% endblock %}
  </body>
</html>