<html>
   <head>
   	  <meta charset="utf-8">
   	  <title> Test CXR Images </title>
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
   <body>
      {% extends "template.html" %}
      {% block content %}
   	<h1> Upload a chest radiograph file </h1>
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      {% endblock %}
   </body>
</html>